POSTGRES_USER=wokki
POSTGRES_PASSWORD=your_password
POSTGRES_DB=wokki
POSTGRES_PORT=5432

DB_UI_PORT=8888

API_PORT=8386
ASPNETCORE_ENVIRONMENT=Development
DATABASE_AUTOMIGRATE=true
APIDOCS_ENABLED=true

JWT_ISSUER=wokki
JWT_AUDIENCE=wokki-api
JWT_SECRET=your_secret_key
JWT_ACCESS_TOKEN_MINUTES=60

